<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Homework- lists</title>
</head>
<body>
<p><h3>Exercise 1 - To do list</h3></p>
<ul>
  <li>Wake up</li>
  <li>Eat</li>
  <li>Go to work</li>
  <li>Come home</li>
  <li>Eat</li>
  <li>Go to school</li>
  <li> Do homework</li>
  <li>Go to sleep</li>
</ul>

<p><h3>Exercise 2 - Ordered list from poem</h3></p>
<p>The House that Jack Built lyrics</p>
<ol>
  <li>This is the house that Jack built.
  This is the malt
  <li>That lay in the house that Jack built.
  <li>This is the rat,
  That ate the malt
  <li>That lay in the house that Jack built.

  <li> This is the cat,
  That killed the rat,
  That ate the malt
  <li>That lay in the house that Jack built.

  <li>This is the dog,
  That worried the cat,
  That killed the rat,
  That ate the malt
  <li>That lay in the house that Jack built.

  <li>This is the cow with the crumpled horn,
  That tossed the dog,
  That worried the cat,
  That killed the rat,
  That ate the malt
  <li>That lay in the house that Jack built.

  <li>This is the maiden all forlorn,
  That milked the cow with the crumpled horn,
  That tossed the dog,
  That worried the cat,
  That killed the rat,
  That ate the malt
  <li>That lay in the house that Jack built.

  <li>This is the man all tattered and torn,
  That kissed the maiden all forlorn,
  That milked the cow with the crumpled horn,
  That tossed the dog,
  That worried the cat,
  That killed the rat,
  That ate the malt
  <li>That lay in the house that Jack built.

  <li>This is the priest all shaven and shorn,
  That married the man all tattered and torn,
  That kissed the maiden all forlorn,
  That milked the cow with the crumpled horn,
  That tossed the dog,
  That worried the cat,
  That killed the rat,
  That ate the malt
  <li>That lay in the house that Jack built.

  <li>This is the cock that crowed in the morn,
  That waked the priest all shaven and shorn,
  That married the man all tattered and torn,
  That kissed the maiden all forlorn,
  That milked the cow with the crumpled horn,
  That tossed the dog,
  That worried the cat,
  That killed the rat,
  That ate the malt
  <li>That lay in the house that Jack built.

  <li>This is the farmer sowing the corn,
  That kept the cock that crowed in the morn.
  That waked the priest all shaven and shorn,
  That married the man all tattered and torn,
  That kissed the maiden all forlorn,
  That milked the cow with the crumpled horn,
  That tossed the dog,
  That worried the cat,
  That killed the rat,
  That ate the malt
  <li>That lay in the house that Jack built.


</ol>


<p><h2>Table - Riddle</h2></p>


<table>
  <thead>
  <tr>
    <th> Nationality</th>
    <th> House color</th>
    <th> Beverage</th>
    <th> Cigar brand</th>
    <th> Pet</th>
  </tr>
  </thead>

  <tbody>
  <tr>
    <td>Dane</td>
    <td>blue</td>
    <td>bier</td>
    <td>Blend</td>
    <td>birds</td>
  </tr>
  <tr>
  <tr>
    <td>Englishman</td>
    <td>green</td>
    <td>coffee</td>
    <td>BlueMaster</td>
    <td>cats</td>
  </tr>
  <tr>
    <td>German</td>
    <td>red</td>
    <td>milk</td>
    <td>Dunhill </td>
    <td>dogs</td>
  </tr>
  <tr>
    <td>Swede</td>
    <td>white</td>
    <td>tea</td>
    <td>PallMall</td>
    <td>fish</td>
  </tr>
  <tr>
    <td>Norwegian</td>
    <td>yellow</td>
    <td>water</td>
    <td>Prince</td>
    <td>horses</td>
  </tr>
  </tr>
  </tbody>
</table>


</body>
</html>